{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "baseui",
    "@typescript-eslint",
    "storybook",
    "eslint-plugin-import-helpers"
  ],
  "settings": {
    "react": {
      "version": "18.2"
    }
  },
  "rules": {
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "/^baseui/",
          "module",
          "parent",
          "sibling",
          "index",
          "type",
          "/styles/"
        ],
        "alphabetize": { "order": "asc", "ignoreCase": false }
      }
    ],
    "arrow-parens": ["error", "as-needed"],
    "baseui/deprecated-theme-api": "warn",
    "baseui/deprecated-component-api": "warn",
    "baseui/no-deep-imports": "warn",
    "comma-dangle": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "never"]
  }
}
